*{
  margin:0;
  padding: 0;
  font-family: Inter,Segoe UI,Arial,Helvetica,sans-serif
}
header{
  padding: 10px;
  font-size: 25px;
  font-weight: bolder;
  background-color: #436850;
  color: white
}